{% extends 'base.html.twig' %}

{% block title %}Suppression d'un spectacle{% endblock %}

{% block body %}
<h4 style="text-align:center">Administration</h4>
<h5 style="text-align:center">Suppression de spectacles</h5>
 {{ form(formindex) }}
{% endblock %}