{% extends 'base.html.twig' %} 
{% block title %}Fiche d'une localité{% endblock %}

{% block body %}
    <h1>{{ locality.postalcode }} {{ locality.locality }}</h1>
	<nav><a href="{{ path('app_locality') }}">Retour à l'index</a></nav>
   

{% endblock %}
